body {
  margin: 0;
  color: #494949;
  font-size: 18px;
}

a {
  text-decoration: none;
}

h1 {
  font-family: Montserrat;
  font-size: 38px;
  color: #fff;
  font-weight: 700;
}

h2 {
  color: #a0a0a0;
  font-family: Montserrat,sans-serif;
  font-size: 27px;
  font-weight: 400;
  line-height: 43.2px;
}

p {
  color: #494949;
  font-family: Lora,serif;
  font-weight: 100;
  line-height: 28.8px;
}
.container {
  width: 700px;
  margin: 50px auto;
}

.banner {
  background-image: url(https://source.unsplash.com/random/1000x500);
  background-size: cover;
  padding: 120px 0;
}

.banner h1 {
  font-size: 38px;
}

.banner p {
  color: #fff;
  font-size: 30px;
  font-style: italic;
  font-weight: lighter;
  opacity: 0.8;
}

a.link-medium {
  background-image: linear-gradient(#e9fdf0 ,#e9fdf0);
  color: #636363;
  font-family: Lora,serif;
  font-size: 25px;
  font-style: italic;
  font-weight: lighter;
  line-height: 40px;
  text-decoration: none;
}

a.link-medium:hover {
  background-image: linear-gradient(#7dffb3 ,#7dffb3);
}

/* Media queries */
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 576px) {
  .container {
    width: 400px;
  }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 768px) {
  .container {
    width: 450px;
  }
}

@media(max-width: 500px) {
  .container {
    width: 400px;
  }
}

